<!-- <!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <title>Flack Application</title>
</head>

<body>
    <form action="{{ url_for('showChatRoom') }}" method="get">
        What is your display name? <br>
            <input type="text" name=user><br>
            <button id=signIn>Sign In</button>
    </form>
    
</body>

</html> -->

{% extends "layout.html" %}

{% block heading %}
    Hello!
{% endblock %}

{% block body %}
<form action="{{ url_for('showChatRoom') }}" method="get">
        What is your display name? <br>
            <input type="text" name=user><br>
            <button id=signIn>Sign In</button>
    </form>
{% endblock %}
